In [1]:
# Import Libraries
import numpy as np 
import pandas as pd

In [2]:
# Define DataFrame
cropProductionMinified=pd.read_csv("../../../data/CropProductionMinified.csv")
cropRecommentationA2=pd.read_csv("../../../data/CropRecommendationApproach2.csv")

In [3]:
# Crop Production Unique
cpUnique=pd.unique(cropProductionMinified["Crop"].str.lower())
# Crop Recommendation Unique
crUnique=pd.unique(cropRecommentationA2["label"].str.lower())
print("Crop Production Unique Crops: ",cpUnique)
print("Crop Recommendation Unique Crops: ",crUnique)

Crop Production Unique Crops:  ['palay' 'mais']
Crop Recommendation Unique Crops:  ['palay' 'mais']

In [4]:
# Drop unnecessary Crops
cropRecommentationA2=cropRecommentationA2[cropRecommentationA2["label"].str.lower().isin(cpUnique)].reset_index(drop=True)

In [5]:
# Drop ph
cropRecommentationA2=cropRecommentationA2.drop(columns=['ph'])

In [6]:
# Check for NULL values
cropRecommentationA2.isna().any()

N              False
P              False
K              False
temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [7]:
# Check for na values
cropRecommentationA2.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
rainfall       False
label          False
dtype: bool

In [8]:
# Display Final Data
cropRecommentationA2

      N   P   K  temperature   humidity    rainfall  label
0    69  52  39    25.075635  84.342627  285.249365  Palay
1    66  55  39    26.359272  81.045548  298.401847  Palay
2    77  39  37    24.529227  87.327612  257.034355   Mais
3    88  44  36    20.775761  89.715033  248.718323  Palay
4    71  38  36    22.301574  83.248559  209.900198  Palay
..   ..  ..  ..          ...        ...         ...    ...
632  91  53  36    20.060040  61.331862   45.365213  Palay
633  68  52  41    19.592210  63.465134   37.811240  Palay
634  87  58  40    29.770131  39.372526   48.802533  Palay
635  83  36  42    27.521354  56.013344   42.723744  Palay
636  64  48  36    25.628962  35.394540   45.402773  Palay

[637 rows x 7 columns]

In [9]:
# Export Preprocessed Data
cropRecommentationA2.to_csv("../../../preprocessedData/CropRecommentationApproach2.csv")